@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

div#carousel {
    height: 46vh;
    width: 90%;
    max-height: 628px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

div#carousel-title a {
    text-decoration: none;
}

div#carousel-title {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

header ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
    display: inline-block;
}

header {
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

header div {
    display: inline;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: 80vw;
}

header nav a {
    color: #1351d8;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    margin-left: 14px;
    margin-right: 14px;
}

header nav a:hover {
    color: #1b357e;
    text-decoration: none;
    font-weight: 900;
}

nav li {
    display: inline;
    list-style: none;
}

main {
    min-height: calc(100% - 167px);
}

#main-carousel {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* Ensure relative positioning for absolute arrows */
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    background-color: transparent;
    color: rgb(30, 0, 255);
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50px;
    width: 5vw;
    height: 8vh;
    
}


.carousel-arrow-left {
    left: 10px;
}

.carousel-arrow-right {
    right: 10px;
}

.carousel-arrow:hover {
    border: solid 1px blue;
    background-color: #cccccc7b;
    width: 3vw;
    height: 8vh;
}


nav#social {
    display: inline;
    width: 80%;
}

nav#social ul img {
    width: 28px;
}

span.redesociais {
    color: #ffffff;
    vertical-align: super;
}

footer {
    background: #1B357E;
    padding: 20px;
}

footer div {
    display: inline;
    float: right;
    margin-right: 40px;
}

button:hover {
    background: #1b357e;
    width: 210px;
    height: 41px;
    transform: scale(1.05);
}

button {
    background: #1351d8;
    color: #fff;
    border: 0px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}